/*********************
// Game
*********************/

.game__title {
  text-align: center;
  padding: 12px 0;
  @include md_up {
    padding: 16px 0;
  }
  @include lg_up {
    padding: 24px 0;
  }
}

.game__types {
  margin-top: 128px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.game__type {
  padding: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #173a84;
}

.game__type-title {
  margin: 0;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
}

.game__type-description {
  margin: 32px 0 0 0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.game__type-extra {
  margin-top: 32px;
}

.game__type-extra-txt {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
