/*********************
// Game
*********************/

.game {
  padding: 80px 0;
}

.game__title {
  text-align: center;
}

.game__types {
  margin-top: 128px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.game__type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-main);
  box-shadow: 3px 3px 20px #0000001F;
}

.game__type-title {
  margin: 0;
  font-size: 30px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
}

.game__type-description {
  margin: 32px 0 0 0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  opacity: 0.5;
}

.game__type-extra {
  margin-top: 32px;
}

.game__type-extra-txt {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
}

.game__type-extra-wrap-progress {
  display: grid;
  grid-template-columns: 1fr 46px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.game__type-extra-progress {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  background-color: #F9F9F9;
  box-shadow: inset 0px 3px 6px #00000029;
}

.game__type-extra-progress-bar {
  width: 70%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-third);
}

.game__type-extra-progress-percent {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  text-align: right;
  color: var(--color-third);
}

.game__type-extra-wrap-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 32px;
  &.full {
    grid-template-columns: 1fr;
  }
}

.game__type-extra-progress-nb {
  margin: 16px 0 0 0;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: var(--color-third);
}

.game__type-extra-certifs {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 0;
  padding: 0;
  list-style: none;
}

.game__type-extra-certif {
  width: 32px;
  height: 32px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/********* History *********/

.game__subtitle {
  margin: 8px 0 0 0;
  font-size: 25px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 8.88px;
  text-align: center;
}

.game-history__btn-back {
  margin-top: 47px;
}

.game-history__list-quiz {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.game-history__quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-main);
  box-shadow: 3px 3px 20px #0000001F;
}

.game-history__quiz-title {
  margin: 0;
  font-size: 30px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
}

.game-history__quiz-description {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  opacity: 0.5;
}

.game-history__quiz-footer {
  margin-top: 32px;
}

.game-history__quiz-score {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
}

.game-history__quiz-stars {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  svg {
    width: 26px;
    height: auto;
    &:nth-child(2) {
      width: 45px;
      height: auto;
    }
  }
}

.game-history__quiz-unlock {
  margin: 8px 0 0 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  opacity: 0.5;
}

.game-history__quiz-btn {
  margin-top: 26px;
}

.game-history__footer-btn-back {
  margin-top: 32px;
}

/********* Quiz *********/

.game-quiz__wrap-content {
  width: 1088px;
  max-width: 100%;
  margin: 64px auto 0 auto;
}

.game-quiz__traking {
  display: flex;
  justify-content: space-between;
  background-color: #eff8f8;
  border-radius: 20px;
}

.game-quiz__traking-item {
  position: relative;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-third);
  border-radius: 50%;
  &.active {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    svg path {
      fill: var(--color-accent) !important;
    }
  }
  &.false {
    border-color: transparent;
    background-color: var(--color-main);
    .game-quiz__tracking-false {
      display: block;
    }
  }
  &.true {
    border-color: transparent;
    background-color: var(--color-main);
    .game-quiz__tracking-true {
      display: block;
    }
  }
  svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix((
      transform: translate(-50%,-50%)
    ), webkit ms);
  }
}

.game-quiz__items {
  margin-top: 34px;
}

.game-quiz__item {
  display: none;
  padding: 32px;
  border-radius: 8px;
  background-color: var(--color-main);
  box-shadow: 3px 3px 20px #0000001F;
  &.active {
    display: block;
  }
}

.game-quiz__item-question {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.game-quiz__item-answers {
  margin-top: 32px;
}

.game-quiz__item-answer {
  cursor: pointer;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
  &.disabled {
    cursor: inherit;
    pointer-events: none;
  }
  &:not(:first-child) {
    margin-top: 16px;
  }
  &.selected, &.true {
    .game-quiz__item-answer-landmark {
      background-color: var(--color-third);
      color: var(--color-main);
    }
    .game-quiz__item-answer-txt {
      color: var(--color-third);
    }
  }
  &.false {
    opacity: 0.35;
  }
}

.game-quiz__item-answer-landmark {
  margin: 0;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  font-weight: bold;
  background-color: #F9F9F9;
  border-radius: 8px;
}

.game-quiz__item-answer-txt {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.game-quiz__item-answer-check {
  display: none;
  &.active {
    display: block;
  }
}

.game-quiz__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.game-quiz__wrap-prev-exit {
  display: flex;
  align-items: center;
}

.game-quiz__prev-btn {
  display: none;
  &.active {
    display: block;
  }
}

.game-quiz__next-btn {
  display: none;
  &.active {
    display: block;
  }
}

.game-quiz__validate-btn {
  display: none;
  &.active {
    display: block;
  }
}

.game-quiz__next-quiz-btn {
  display: none;
  &.active {
    display: block;
  }
}

.game-quiz__exit-btn {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: var(--color-second);
  opacity: 0.5;
}
