/*********************
// Colors
*********************/

$color-white: #FFFFFF;
$color-navy-blue: #0E2E41;
$color-blue-green: #359D9E;
$color-coral-red: #FF7D71;

:root {
  --color-main: #{$color-white};
  --color-second: #{$color-navy-blue};
  --color-third: #{$color-blue-green};
  --color-accent: #{$color-coral-red};
}
