/*********************
// Fonts
*********************/

/********* Imports *********/

/* Font Family - Poppins */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.eot');
  src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Light.woff2') format('woff2'),
       url('../fonts/Poppins-Light.woff') format('woff'),
       url('../fonts/Poppins-Light.ttf')  format('truetype'),
       url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.eot');
  src: url('../fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
       url('../fonts/Poppins-LightItalic.woff') format('woff'),
       url('../fonts/Poppins-LightItalic.ttf')  format('truetype'),
       url('../fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins-Regular.woff') format('woff'),
       url('../fonts/Poppins-Regular.ttf')  format('truetype'),
       url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.eot');
  src: url('../fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Italic.woff2') format('woff2'),
       url('../fonts/Poppins-Italic.woff') format('woff'),
       url('../fonts/Poppins-Italic.ttf')  format('truetype'),
       url('../fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Medium.woff2') format('woff2'),
       url('../fonts/Poppins-Medium.woff') format('woff'),
       url('../fonts/Poppins-Medium.ttf')  format('truetype'),
       url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.eot');
  src: url('../fonts/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
       url('../fonts/Poppins-MediumItalic.woff') format('woff'),
       url('../fonts/Poppins-MediumItalic.ttf')  format('truetype'),
       url('../fonts/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Bold.woff2') format('woff2'),
       url('../fonts/Poppins-Bold.woff') format('woff'),
       url('../fonts/Poppins-Bold.ttf')  format('truetype'),
       url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.eot');
  src: url('../fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
       url('../fonts/Poppins-BoldItalic.woff') format('woff'),
       url('../fonts/Poppins-BoldItalic.ttf')  format('truetype'),
       url('../fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}


/* Size Settings */

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */

  --font-size--small: 1.0rem; /* 10px */
  --font-size--normal: 1.2rem; /* 12px */
  --font-size--large: 1.4rem; /* 14px */

  --line-height--small: calc(var(--font-size--small) * 1.5);
  --line-height--normal: calc(var(--font-size--normal) * 1.5);
  --line-height--large: calc(var(--font-size--large) * 1.5);

  @include md_up {
    --font-size--small: 1.2rem;
    --font-size--normal: 1.4rem;
    --font-size--large: 1.6rem;

    --line-height--small: calc(var(--font-size--small) * 1.5);
    --line-height--normal: calc(var(--font-size--normal) * 1.5);
    --line-height--large: calc(var(--font-size--large) * 1.5);
  }
}

/********* Main *********/

body, p, li, a, button {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: var(--font-size--normal);
  line-height: var(--line-height--normal);
  letter-spacing: 0.08rem;
}


/* Heading Settings */

.heading {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.04rem;
}

.h1 {
  font-size: 5.6rem;
  line-height: 8.5rem;
}

.h2 {
  font-size: 2.4rem;
  line-height: calc(2.4rem * 1.2);
}

.h3 {
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.2);
}

@include md_up {
  .h1 {
    font-size: 4.8rem;
    line-height: calc(4.8rem * 1.2);
  }

  .h2 {
    font-size: 3.2rem;
    line-height: calc(3.2rem * 1.2);
  }

  .h3 {
    font-size: 2.4rem;
    line-height: calc(2.4rem * 1.2);
  }
}
